<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Your thoughts</title>
</head>
<body>
<h1>Posts</h1>
  {% if messages %}
    {% for message in messages%}
        {{message}}
    {%endfor%}
 {%endif%}
<br>
  {%for post in object_list %}
       <li> <a href="{% url 'fullpost' post.pk %}"> {{ post.created_at }} - {{ post.user }} </a> <br>
        {{ post.text }}</li>
        <br>

  {%endfor%}
<br>
<a href="{% url 'addpost' %}">Add Post </a>
<br><br>
<a href="{% url 'logout' %}">logout </a>
</body>
</html>